/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background:url(img/Ellipse_1_copy.png)50% 130px no-repeat;
}

.content {
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0 auto;
}
.content-top {
    text-align: center;
    margin: 0 0 68px 0;
}
.content-top_category {
    opacity: 0.6;
    color: #273d46;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0 0 17px 0;
}
.content-top_title {
    color: #273d46;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 36px;
    line-height: 50px;
    margin: 0 auto;
}
.content-image {
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
    background-color :white;
    padding: 10px;
    margin: 0 0 85px 0;
}
.content-image img{
    max-width: 100%;
}
.content-bottom {
    margin: 0 0 0 45px;
}
.content-bottom_text {
    color:#516269;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 24px;
    line-height: 40px;
    margin: 0 0 48px 0;
}
.content-bottom_text p{
   margin: 0 0 45px 0; 
}
.content-bottom_text p:last-child{
    margin: 0;
}

.content-bottom_info_list {
    margin: 0 0 59px 0;
}
.content-bottom_info_list li {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 20px; 
   margin: 0 0 18px 0;
   background: url(icon/check_icon.png)left no-repeat;
   padding: 0 0 0 36px;
}
.content-bottom_info_list li:nth-child(1) {
    color: #273d46;
    text-decoration: line-through;
}
.content-bottom_info_list li:nth-child(1):hover {
    color: #273d46; 
    text-decoration:none;
}
.content-bottom_info_list li:nth-child(2) {
    color: #273d46;
    font-weight: bold;
}
.content-bottom_info_list li:nth-child(2):hover {
    color: #d76a6aed;
    font-weight: normal;
    background:url(icon/check_icon\ —\ red.png) no-repeat;
}
.content-bottom_info_list li:nth-child(3) {
    color: #273d46;
    font-style: italic;
}
.content-bottom_info_list li:nth-child(3):hover{
    color: #273d46;
    font-style: normal;
}   
.content-bottom_info_list li:nth-child(4) {
    color: #273d46; 
    text-transform: uppercase;  
}
.content-bottom_info_list li:nth-child(4):hover{
    color: #273d46;
    text-transform: none;  
}
.content-bottom_info_list li:last-child {
    margin: 0px;
}
.content-bottom_info_link {
    height: 44px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    padding: 0 30px;
    background-color: #80b7b3;
    border-radius: 24px;
    display: inline-block;
    line-height: 44px;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}
.content-bottom_info_link span{
    padding: 0 30px 0 0;
    background:url(/icon/Shape_2.svg) right no-repeat;
}

.content-bottom_info_link:hover{
    background-color: rgb(59, 20, 20);
}
.content-bottom_info_link:active{
    background-color: rgb(138, 101, 17);
}
.textinput{
    margin: 50px 0 0 0px;
    width: 292px;
    height: 50px;
    border: 1px solid #b0b0b0;
    font-size: 20px;
}
.textinput:focus{
    width: 292px;
    height: 50px;
    box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
    border: 1px solid #7fbed5;
    text-align: center;
}

.content_2text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.content_2text p{
    margin: 45px 0 0 0px;
}

.content_2text:first-line{
    color: red;
}

.content_3text{
    margin-top: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.content_3text:first-letter{
    color: red;
}

